{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'cart/cart.css' %}">
{% endblock %}

{% block content %}

<h1 class="cart-title">Your Cart</h1>

{% if cart %}

<div class="cart-container">

    {% for item in cart%}
    <div class="cart-item">

        <div class="cart-item-img-box">
            <img src="{{ item.product.image.url }}" class="cart-item-img">
        </div>

        <div class="cart-item-info">
            <a href ="{% url "store-app:product_detail" item.product.slug %}" style= "text-decoration : none;"> <h2 class="cart-item-name">{{ item.product.title }}</h2></a>
            <p class="cart-item-price">Price: ${{ item.product.price }}</p>
            <p class="cart-item-quantity">Quantity: {{ item.qty }}</p>
            <p class="cart-item-total">Item Total: ${{ item.total_price }}</p>

            <div class="cart-buttons">
                <a href="" class="cart-btn remove-btn">Remove</a>
                <a href="" class="cart-btn add-btn">+ Add One More</a>
            </div>
        </div>

    </div>
    {% endfor %}

</div>

<div class="cart-summary">
    <h2>Total: ${{ cart.total_price }}</h2>
    <a href="" class="checkout-btn">Proceed to Checkout</a>
</div>

{% else %}
<p class="empty-cart">Your cart is empty... The shadows whisper softly.</p>
{% endif %}

{% endblock %}
