{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'store/product_detail.css' %}">
{% endblock %}

{% block content %}

<h1 class="horror-title">{{ product.title }}</h1>

<div class="detail-container">

    <!-- LEFT: PRODUCT IMAGE -->
    <div class="detail-image-box">
        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="detail-image">
    </div>

    <!-- RIGHT: PRODUCT INFO -->
    <div class="detail-info">

        <h2 class="detail-name">{{ product.title }}</h2>

        <p class="detail-price">${{ product.price }}</p>

        <p class="detail-description">
            {{ product.description }}
        </p>
        <p class="detail-category">
            Brand: <span>{{ product.brand }}</span>
        </p>
        <p class="detail-category">
            Category: <span>{{ product.category.name }}</span>
        </p>

        <p class="detail-stock">
            {% if product.stock > 0 %}
                <span class="stock-in">In Stock</span>
            {% else %}
                <span class="stock-out">Out of Stock</span>
            {% endif %}
        </p>
        <div class="quantity-box">
            <label for="quantity" class="qty-label">Quantity:</label>
        
            <select id="quantity" class="qty-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>        
        <button id ="add-button" value = "{{product.id}}" class="detail-btn" {% if product.stock == 0 %}disabled{% endif %}>
            {% if product.stock == 0 %}
                Out of Stock
            {% else %}
            Add to Cart
            {% endif %}
        </button>

    </div>

</div>
<script>
    $(document).on('click','#add-button' , function(e){
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url "cart-app:cart-add" %}',
            data: {
                product_id : $("#add-button").val(),
                product_quantity: $("#quantity").val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: "POST",
            },
            success: function(json){
                document.getElementById("cart-qty").textContent = json.qty
            },
            error: function(xhr, errmsg , err){

            },
        });
    })

</script>

{% endblock %}
