{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'store/store.css' %}">
{% endblock css_files %}

{% block content %}

<h1 class="horror-title">Hello :) </h1>

<div class="horror-product-grid">

    {% for product in products %}
        <a href="{% url "product_detail" product.slug %}" class="horror-product-card-link">
            <div class="horror-product-card">

                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="horror-product-img">

                <div class="horror-product-name">{{ product.title | capfirst}}</div>

                <div class="horror-price">${{ product.price }}</div>

            </div>
        </a>
    {% endfor %}

</div>

{% endblock %}
