{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel = "stylesheet" href = "{% static "account/password-style.css" %}" >
{% endblock css_files %}
{% block content %}

<div class="auth-container">
    <h1 class="auth-title">Message Dispatched</h1>
    <p class="auth-subtitle">
        If the spirits recognize your email, a reset link has been sent.
    </p>

    <div class="auth-box">
        <p class="auth-text">
            Check your inbox. Follow the cursed link to restore access.
        </p>

        <a href="{% url 'user-login' %}" class="auth-btn">
            Return to Login
        </a>
    </div>
</div>



{% endblock %}
