{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel = "stylesheet" href = "{% static "account/password-style.css" %}" >
{% endblock css_files %}
{% block content %}

<div class="auth-container">

    <h1 class="auth-title">Password Restored</h1>
    <p class="auth-subtitle">Your access has been resurrected...</p>

    <div class="auth-box">
        <p class="auth-text">
            You may now enter the domain once more.
        </p>

        <a href="{% url 'user-login' %}" class="auth-btn">
            Log In
        </a>
    </div>

</div>



{% endblock %}
