{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel = "stylesheet" href = "{% static "account/password-style.css" %}" >
{% endblock css_files %}
{% block content %}

<div class="auth-container">

    <h1 class="auth-title">Choose Your New Password</h1>
    <p class="auth-subtitle">Let the shadows protect this one...</p>

    <div class="auth-box">
        <form method="POST">
            {% csrf_token %}
            {{form.new_password1.label_tag}}
            {{ form.new_password1 }}
            {{form.new_password2.label_tag}}
            {{ form.new_password2 }}
            <button type="submit" class="auth-btn">Reset Password</button>
        </form>

    </div>
</div>


{% endblock %}
