{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel = "stylesheet" href = "{% static "account/password-style.css" %}" >
{% endblock css_files %}
{% block content %}

<div class="auth-container">

    <h1 class="auth-title">Choose Your New Password</h1>
    <p class="auth-subtitle">Let the shadows protect this one...</p>

    <div class="auth-box">
        <form method="POST" novalidate>
            {% csrf_token %}
        
            <!-- Show token errors (expired token, invalid link, etc.) -->
            {% if form.non_field_errors %}
                <div class="form-error-box">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
        
            <!-- New password -->
            <div class="field-block">
                {{ form.new_password1.label}}
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="field-error">{{ form.new_password1.errors.0 }}</div>
                {% endif %}
            </div>
        
            <!-- Confirm password -->
            <div class="field-block">
                {{ form.new_password2.label}}
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="field-error">{{ form.new_password2.errors.0 }}</div>
                {% endif %}
            </div>
        
            <button type="submit" class="auth-btn">Reset Password</button>
        </form>
        

    </div>
</div>


{% endblock %}
