{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel = "stylesheet" href = "{% static "account/password-style.css" %}" >
{% endblock css_files %}
{% block content %}

<div class="auth-container">

    <h1 class="auth-title">Forgot Your Password?</h1>
    <p class="auth-subtitle">Enter your email to begin the ritual...</p>

    <div class="auth-box">

        <form method="POST">
            {% csrf_token %}
            {{ form.email }}

            <button type="submit" class="auth-btn">Send Reset Link</button>
        </form>

        <a href="{% url 'user-login' %}" class="auth-link">Return to Login</a>

    </div>

</div>



{% endblock %}
