{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'account/register.css' %}">
{% endblock %}

{% block content %}

<div class="register-container">

    <h1 class="register-title">Welcome Back</h1>
    <p class="register-subtitle">
        Enter the gates… if you remember the password.
    </p>

    <form method="post" class="register-form">
        {% csrf_token %}

        {% for field in form %}
            <div class="register-field {% if field.errors %}has-error{% endif %}">
                <label>{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    <p class="field-error">{{ field.errors|striptags }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="register-btn">Log In</button>

        <p class="register-login-text">
            New to this realm?
            <a href="{% url 'account-app:register' %}">Create an account</a>
        </p>

        <p class="register-login-text">
            forgot password ?
            <a href="">Reset Password</a>
        </p>


    </form>

</div>

{% endblock %}
